<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
    <Properties>
        <Property name="LOG_DIR">./logs</Property>
    </Properties>
    <Appenders>
        <RollingFile
                name="rollingFile"
                fileName="${LOG_DIR}/auth-service.log"
                filePattern="${LOG_DIR}/auth-service.%i.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${LOG_DIR}" maxDepth="2">
                    <IfFileName glob="*/auth-service-*.log.gz" />
                    <IfLastModified age="P30D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>
</Configuration>